html {
    font-size: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 320px;
    font-family: "Poppins", "Helvetica", sans-serif;
    font-size: var(--fs-sm);
    font-weight: 400;
    line-height: 1.6;
    background-color: var(--color-bg-dark);
    color: var(--color-bg-white);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
dd,
figure,
blockquote {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Saira Extra Condensed";
    font-weight: 900;
    line-height: 1;
    text-wrap: balance;
}

h1 {
    font-size: var(--fs-2xl);
}
h2 {
    font-size: var(--fs-xl);
    line-height: 1;
}
ul,
ol {
    list-style: none;
}

a {
    color: var(--color-text-dark);
    text-decoration: none;
}

img,
picture,
video {
    max-width: 100%;
    height: auto;
    display: block;
}

button,
input,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
}

button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: inherit;
}

textarea {
    min-height: 10em;
    resize: vertical;
}

:target {
    scroll-margin-top: 2rem;
}

#app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    max-width: 1240px;
    width: 100%;
    padding-inline: var(--space-md);
    margin-inline: auto;
}

.hidden {
    display: none;
}

.btn {
    display: inline-block;
    font-size: clamp(1rem, 0.89rem + 0.465vw, 1.25rem);
    font-weight: 500;
    padding: clamp(0.75rem, 0.452rem + 1.19vw, 1.375rem)
        clamp(1.563rem, 1.116rem + 1.786vw, 2.5rem);
    background-color: transparent;
    border: 2px solid var(--color-primary);
    border-radius: 100px;
    cursor: pointer;
    &--fill {
        color: var(--color-bg-white);
        background-color: var(--color-primary);
    }
}

.subtitle {
    font-size: clamp(1.25rem, 0.254vw + 1.154rem, 1.5rem);
    font-weight: 500;
    text-transform: capitalize;
    color: var(--color-offwhite);
}
